@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #5a5e61;
    --secondary-color: #f0bd71;
    --dark-color: #002240;
    --light-color: #fff;
    --medium-color: #b4becb;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
}

label {
    color: var(--primary-color);
}

.container {
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.dough {
    height: 450px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    position: relative;
}


.legend {
    display: grid;
    color:var(--primary-color);
    margin-bottom: 100px;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 40%;
    grid-gap: 3%;
    height: 330px;
}

.dough::before,
.dough::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--light-color);
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
}

h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    margin: 30px 0;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

.dough-form {
    position: relative;
    overflow: visible;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 55%;
    background-color: var(--light-color);
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px var(--dark-color);
    padding: 40px;
    margin: 10px;
    flex: 1;
    z-index: 100;

}

.dough-form .dough-input {
    margin: 20px 0;
}

.output {
    margin-top: 30px;
}

.output input[type='text']{
    border: 0;
    width: 100%;
    padding: 3px;
    font-size: 20px;
    font-weight: bolder;
    color: var(--primary-color);
    background-color: var(--light-color);
    font-family: "Lato", sans-serif;
}

.dough-form input[type='number']{
    border: 0;
    border-bottom: 1px solid var(--medium-color);
    width: 90%;
    padding: 3px;
    font-size: 16px;
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
}

.dough-form input:focus {
    outline: none;
}

.footer {
    color: var(--primary-color);
    background-color: var(--light-color);
    text-align: center;
    width: 100%;
    height: 40px;
    bottom: 0;
    position: fixed;
}

.description {
    font-size: 20px;
}

.pages {
    margin: 50px;
    width: 60%;
}

.pages a {
    color: var(--light-color);
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.pages a:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.pages a::before {
    content: '▶';
    padding: 5px;
}

.back {
    font-size: 50px;
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom: 100px;
}

.back a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

/* mobile */
@media(max-width: 500px) {
    h1 {
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 13px;
    }

    p {
        font-size: 11px;
    }

    .legend {
        width: 80%;
    }
    
    .pages a {
        font-size: 15px;
        text-align: center;
    }

    .output input[type='text']{
        font-size: 16px;
    }

    .dough-form {
        height: 200px;
    }
    
    .dough-form input[type='number']{
        font-size: 12px;
    }
    
    .description {
        font-size: 15px;
    }
    
}